In [1]:
import pandas as pd

In [70]:
data = pd.read_csv('../data/data_with_lifeline_info_20200213.csv')

In [71]:
data.head()

,geometry,name,plus_code,types,vicinity,latitude,longitude,lifeline_number,lifeline_category
0,"{'location': {'lat': 39.60806830000001, 'lng':...",Arapahoe Community College,"{'compound_code': 'JX5J+6F Littleton, Colorado...","['university', 'point_of_interest', 'establish...","5900 South Santa Fe Drive, Littleton",39.608068,-105.018845,1,safety_security
1,"{'location': {'lat': 39.6083415, 'lng': -105.0...",Arapahoe Community Clg Library,"{'compound_code': 'JX5J+89 Littleton, Colorado...","['library', 'point_of_interest', 'establishment']","5900 South Santa Fe Drive, Littleton",39.608342,-105.019121,1,safety_security
2,"{'location': {'lat': 39.6128785, 'lng': -105.0...",Arapahoe County Court,"{'compound_code': 'JX7R+5F Littleton, Colorado...","['courthouse', 'point_of_interest', 'establish...","1790 West Littleton Boulevard, Littleton",39.612879,-105.008854,1,safety_security
3,"{'location': {'lat': 39.61367430000001, 'lng':...",Littleton Municipal Court,"{'compound_code': 'JX7Q+F3 Littleton, Colorado...","['courthouse', 'local_government_office', 'poi...","2069 West Littleton Boulevard, Littleton",39.613674,-105.012340,1,safety_security
4,"{'location': {'lat': 39.613889, 'lng': -104.98...",Littleton High School,"{'compound_code': 'J278+H3 Littleton, Colorado...","['secondary_school', 'school', 'point_of_inter...","199 East Littleton Boulevard, Littleton",39.613889,-104.984865,1,safety_security

In [88]:
duplicates = data[data.duplicated(subset = 'geometry',keep = False)]

In [91]:
duplicates[['geometry','name','types','lifeline_number']]

,geometry,name,types,lifeline_number
50,"{'location': {'lat': 39.67983, 'lng': -104.892...",Denver Metro Business Services,"['moving_company', 'furniture_store', 'home_go...",1
94,"{'location': {'lat': 39.7077864, 'lng': -105.0...",Target,"['department_store', 'grocery_or_supermarket',...",1
97,"{'location': {'lat': 39.7084263, 'lng': -104.9...",Target,"['department_store', 'grocery_or_supermarket',...",1
151,"{'location': {'lat': 39.730754, 'lng': -104.93...",Ninth Avenue Internal Medicine,"['hospital', 'doctor', 'local_government_offic...",1
176,"{'location': {'lat': 39.7399905, 'lng': -104.9...",Ace on The Fax,"['hardware_store', 'car_dealer', 'point_of_int...",1
...,...,...,...,...
717,"{'location': {'lat': 39.7117873, 'lng': -105.0...",Suncor Energy,"['atm', 'gas_station', 'finance', 'car_repair'...",6
718,"{'location': {'lat': 39.7158522, 'lng': -105.1...",Saint Anthony Hospital Central Heliport,"['hospital', 'airport', 'point_of_interest', '...",6
740,"{'location': {'lat': 39.7397093, 'lng': -104.9...",Capitol Hill Auto,"['gas_station', 'car_repair', 'point_of_intere...",6
746,"{'location': {'lat': 39.7399905, 'lng': -104.9...",Ace on The Fax,"['hardware_store', 'car_dealer', 'point_of_int...",6
832,"{'location': {'lat': 39.8433689, 'lng': -105.0...",Peerless Tires,"['gas_station', 'car_repair', 'point_of_intere...",6

In [92]:
duplicates['types'].value_counts()

['drugstore', 'convenience_store', 'food', 'health', 'point_of_interest', 'clothing_store', 'store', 'establishment']                                                                  40
['convenience_store', 'gas_station', 'food', 'point_of_interest', 'store', 'establishment']                                                                                            18
['atm', 'gas_station', 'finance', 'car_repair', 'point_of_interest', 'establishment']                                                                                                   6
['gas_station', 'atm', 'car_wash', 'convenience_store', 'finance', 'food', 'point_of_interest', 'store', 'establishment']                                                               6
['gas_station', 'car_repair', 'point_of_interest', 'store', 'establishment']                                                                                                            4
['department_store', 'grocery_or_supermarket', 'electronics_store', 'furniture_store', 'home_goods_store', 'food', 'point_of_interest', 'clothing_store', 'store', 'establishment']     4
['moving_company', 'furniture_store', 'home_goods_store', 'storage', 'point_of_interest', 'store', 'establishment']                                                                     2
['hospital', 'university', 'health', 'point_of_interest', 'establishment']                                                                                                              2
['hospital', 'airport', 'point_of_interest', 'establishment']                                                                                                                           2
['hospital', 'doctor', 'local_government_office', 'health', 'point_of_interest', 'establishment']                                                                                       2
['hardware_store', 'car_dealer', 'point_of_interest', 'store', 'establishment']                                                                                                         2
Name: types, dtype: int64

In [99]:
dup_sort = duplicates[['geometry','name','types','lifeline_number']].sort_values(by = ['geometry'])

In [109]:
dup_sort.shape

(88, 4)

In [105]:
data.loc[346]['types']

"['department_store', 'grocery_or_supermarket', 'electronics_store', 'furniture_store', 'home_goods_store', 'food', 'point_of_interest', 'clothing_store', 'store', 'establishment']"